{% extends 'base.html' %}

{% block content %}
<div class="contentbutton">
<a href="{% url 'hitas:chumash' %}" class="button-tg"> Хумаш </a>
<a href="{% url 'hitas:tehillim' %}"class="button-tg"> Теилим </a>
<a href="{% url 'hitas:tanya' %}"class="button-tg"> Тания </a>
<a href="{% url 'hitas:hayom_yom' %}"class="button-tg"> Йом йом </a>
<a href="{% url 'hitas:rambam' %}"class="button-tg"> «Книга заповедей» РАМБАМа </a>
<a href="{% url 'hitas:moshiach' %}"class="button-tg"> Мошиах и Освобождение </a>
</div>
{% endblock content %}